apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: "v1alpha1.{{ group_name }}"
  namespace: "{{ cert_manager.namespace }}"
  labels:
    app: "cert-manager-webhook-ibm-cis"
  annotations:
    cert-manager.io/inject-ca-from: "{{ cert_manager.namespace }}/cert-manager-webhook-ibm-cis-serving-cert"
spec:
  group: "{{ group_name }}"
  groupPriorityMinimum: 1000
  versionPriority: 15
  service:
    name: cert-manager-webhook-ibm-cis
    namespace: "{{ cert_manager.namespace }}"
  version: v1alpha1
